# Merging Dataframes #
When we merge dataframes, we munge together columns from one dataframe with columns from another dataframe using a property that the rows have in common. A new dataframe is created from the merge.

A merge is similar to a join in a relational database, where two or more tables share a key that provides a unique identifier for each row in the table. You join tables by selecting the rows in each table with common key values and return the columns from each table that you care about.

To merge dataframes, you use the PANDAS *merge* command, which takes the names of the two dataframes to merge and the type of merge to perform. There is also a join command that operates on the index of each dataframe. For a complete explanation of the difference between merge and join, check out this article: <a href="http://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging" target="_blank">Merging and joining in Pandas</a>

#### Merge options ####
There are four options for merging dataframes:
* **Inner join** - return only the rows in both tables that share a key value
* **Left join** - return all rows from the left table and the rows in the right table that match key values in left table
* **Right join** - return all rows from right table and the rows in the left table that match key values in the right table
* **Outer join** - return all rows from both tables

### Inner join example ### 
Who was the manager for the St. Louis Cardinals in 2010?
#### Answer ####
* Managers.csv contains the list of all managers for all teams. 
* The manager for a team is listed by playerID. 
* Master.csv that lists the personal information for all players using the playerID as a unique identifier. 
* First, find the playerID from Managers. Then, merge it with nameFirst and nameLast columns in Master for that playerID.

In [1]:
import pandas as pd
from pybaseball.lahman import *

#This will get you the St. Louis manager in 2010
man = managers()
manSTL2010 = man.loc[(man['yearID']==2010)&(man['teamID']=='SLN')]
print(manSTL2010)
playerData = master()
#you can do a merge with Master to get the first and last name
result = pd.merge(manSTL2010, playerData, on='playerID', how='inner')
print(result)
#result has way more information than we need. 
#We can select only the columns we want to see.
result = pd.merge(manSTL2010[['yearID', 'teamID', 'playerID']], 
                 playerData[['playerID', 'nameFirst', 'nameLast']],
                 on='playerID', how='inner')
print(result)

       playerID  yearID teamID lgID  inseason    G   W   L  rank plyrMgr
3236  larusto01    2010    SLN   NL         1  162  86  76   2.0       N

## Left join example ##
Generate a dataframe of all pitchers since 2015 with an ERA < 4.0 and the gameID for the pitchers who also started an allstar game. The pitching table includes many more columns than the all star table, we can specify which columns we want from both tables.

### Why is this a left join? ###
We want see all rows in the pitching data, which is the left table. We only want the rows in all star, which is the right table, that match a row in our left table.

In [4]:
import pandas as pd
from pybaseball.lahman import *

allStar = all_star_full()
allStar = allStar.loc[(allStar['yearID']>2015) & (allStar['startingPos']==1.0)]
allStar.head(20)

pitch = pitching()
#I selected some variables that we might care about related to pitching quality
goodPitch = pitch.loc[(pitch['yearID']>2015) & (pitch['ERA'] < 4.0),
            ['playerID', 'yearID', 'teamID', 'W', 'L', 'G', 'GS',
              'CG', 'SHO', 'IPouts', 'H', 'HR', 'BB', 'SO', 'ERA']]
goodPitch.head(20)
allStarPitchers = pd.merge(goodPitch, allStar[['playerID','yearID', 'gameID',
                                    'teamID']],
                           on=['playerID', 'yearID'],how='left')
allStarPitchers.head(100)

,playerID,yearID,teamID_x,W,L,G,GS,CG,SHO,IPouts,H,HR,BB,SO,ERA,gameID,teamID_y
0,abadfe01,2016,MIN,1,4,39,0,0,0,102,27,2,14,29,2.65,NaN,NaN
1,achteaj01,2016,LAA,1,0,27,0,0,0,113,43,7,12,14,3.11,NaN,NaN
2,alexasc01,2016,KCA,0,0,17,0,0,0,57,24,1,7,16,3.32,NaN,NaN
3,allenco01,2016,CLE,3,5,67,0,0,0,204,41,8,27,87,2.51,NaN,NaN
4,altavda01,2016,SEA,0,0,15,0,0,0,37,11,0,1,10,0.73,NaN,NaN
5,alvarda01,2016,ATL,3,1,16,0,0,0,45,11,3,5,28,3.00,NaN,NaN
6,alvarjo02,2016,LAA,1,3,64,0,0,0,172,71,4,15,51,3.45,NaN,NaN
7,amarial01,2016,SDN,0,0,1,0,0,0,1,0,0,0,0,0.00,NaN,NaN
8,anderty01,2016,COL,5,6,19,19,0,0,343,119,12,28,99,3.54,NaN,NaN
9,aquinja01,2016,BAL,0,0,3,0,0,0,7,1,0,0,3,0.00,NaN,NaN
10,armstsh01,2016,CLE,0,0,10,0,0,0,32,9,1,5,7,2.53,NaN,NaN
11,arojo01,2016,SEA,0,0,1,0,0,0,2,1,0,1,0,0.00,NaN,NaN
12,arrieja01,2016,CHN,18,8,31,31,1,1,592,138,16,76,190,3.10,NaN,NaN
13,asheral01,2016,PHI,2,1,5,5,0,0,83,22,1,4,13,2.28,NaN,NaN
14,avilalu01,2016,LAN,3,0,27,0,0,0,59,12,0,10,28,3.20,NaN,NaN
15,axforjo01,2016,OAK,6,4,68,0,0,0,197,65,6,30,60,3.97,NaN,NaN
16,baezpe01,2016,LAN,3,2,73,0,0,0,222,52,11,22,83,3.04,NaN,NaN
17,bailean01,2016,LAA,0,0,12,0,0,0,34,9,1,2,8,2.38,NaN,NaN
18,barneda02,2016,TOR,0,0,12,0,0,0,41,14,0,5,14,3.95,NaN,NaN
19,barneja01,2016,MIL,0,1,27,0,0,0,80,24,1,6,26,2.70,NaN,NaN
20,barneto01,2016,TEX,7,3,53,0,0,0,181,54,4,16,49,2.09,NaN,NaN
21,barraky01,2016,MIA,6,3,75,0,0,0,218,45,1,44,113,2.85,NaN,NaN
22,barreja01,2016,ARI,1,2,68,0,0,0,178,47,6,28,56,3.49,NaN,NaN
23,baumabu01,2016,SDN,1,0,11,0,0,0,29,7,0,4,10,3.72,NaN,NaN
24,bedroca01,2016,LAA,2,0,45,0,0,0,121,30,1,14,51,1.12,NaN,NaN
25,belisma01,2016,WAS,0,0,40,0,0,0,138,43,2,7,32,1.76,NaN,NaN
26,benoijo01,2016,TOR,2,0,25,0,0,0,71,17,1,9,24,0.38,NaN,NaN
27,betande01,2016,NYA,3,6,73,0,0,0,219,54,5,28,126,3.08,NaN,NaN
28,bethach01,2016,SDN,0,0,2,0,0,0,5,1,0,3,1,0.00,NaN,NaN
29,biagijo01,2016,TOR,4,3,60,0,0,0,203,69,3,19,62,3.06,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,cravyty01,2016,MIL,0,1,20,2,0,0,85,21,3,12,22,2.86,NaN,NaN
71,cuetojo01,2016,SFN,18,5,32,32,5,2,659,195,15,45,198,2.79,ALS201607120,SFN
72,cuevawi01,2016,BOS,0,1,3,0,0,0,15,5,0,6,3,3.60,NaN,NaN
73,darviyu01,2016,TEX,7,5,17,17,0,0,301,81,12,31,132,3.41,NaN,NaN
74,davieza01,2016,MIL,11,7,28,28,0,0,490,166,20,38,135,3.97,NaN,NaN
75,daviswa01,2016,KCA,2,1,45,0,0,0,130,33,0,16,47,1.87,NaN,NaN
76,daytogr01,2016,LAN,0,1,25,0,0,0,79,14,4,6,39,2.05,NaN,NaN
77,degroja01,2016,NYN,7,8,24,24,1,1,444,142,15,36,143,3.04,NaN,NaN
78,desclan01,2016,CIN,9,5,20,20,1,1,370,120,16,30,105,3.28,NaN,NaN
79,devench02,2016,HOU,4,4,48,5,0,0,325,79,4,20,104,2.16,NaN,NaN
80,diazed04,2016,SEA,0,4,49,0,0,0,155,45,5,15,88,2.79,NaN,NaN
81,diazju03,2016,CIN,1,1,45,0,0,0,129,36,8,19,37,3.14,NaN,NaN
82,diekmja01,2016,TEX,4,2,66,0,0,0,159,36,4,26,59,3.40,NaN,NaN
83,doolise01,2016,OAK,2,3,44,0,0,0,117,33,6,8,45,3.23,NaN,NaN
84,duffyda01,2016,KCA,12,3,42,26,1,0,539,163,27,42,188,3.51,NaN,NaN
85,dukeza01,2016,CHA,2,0,53,0,0,0,113,31,2,16,42,2.63,NaN,NaN
86,dukeza01,2016,SLN,0,1,28,0,0,0,70,17,0,13,26,1.93,NaN,NaN
87,dullry01,2016,OAK,5,5,70,0,0,0,223,50,10,15,73,2.42,NaN,NaN
88,dunnmi01,2016,MIA,6,1,51,0,0,0,127,43,5,11,38,3.40,NaN,NaN
89,dysonsa01,2016,TEX,3,2,73,0,0,0,211,63,5,23,55,2.43,NaN,NaN
90,edwarca01,2016,CHN,0,1,36,0,0,0,108,15,4,14,52,3.75,NaN,NaN
91,egeco01,2016,LAA,1,0,13,0,0,0,26,8,1,3,9,1.04,NaN,NaN
92,eickhje01,2016,PHI,11,14,33,33,0,0,592,187,30,42,167,3.65,NaN,NaN
93,ellinbr02,2016,MIA,4,2,32,0,0,0,99,27,2,16,32,2.45,NaN,NaN
94,escobed01,2016,MIN,0,0,1,0,0,0,3,1,0,0,0,0.00,NaN,NaN
95,estrama01,2016,TOR,9,9,29,29,0,0,528,132,23,65,165,3.48,NaN,NaN
96,familje01,2016,NYN,3,4,78,0,0,0,233,63,1,31,84,2.55,NaN,NaN
97,farquda01,2016,TBA,1,0,35,0,0,0,106,33,8,15,46,3.06,NaN,NaN
98,feldmsc01,2016,HOU,5,3,26,5,0,0,186,64,8,13,42,2.90,NaN,NaN
99,felizne01,2016,PIT,4,2,62,0,0,0,161,40,10,21,61,3.52,NaN,NaN

# Questions #
In groups of 2-3 or alone, find the answer to the following question in the Lahman data. Write your code in a code cell and submit your notebook to Canvas.

1. Who played second base for the Baltimore Orioles in 2016? The teamID for the Orioles is BAL. You need the first and last name, as well as the playerID?
2. If you reversed the order of the dataframes in the left-join example, and make all star the left dataframe and pitching the right dataframe, what would the merge return? Provide an explanation rather than the code.